doctype html
html(lang='en')
    head
        script.
            (function (h, o, t, j, a, r) {
                h.hj = h.hj || function () {
                            (h.hj.q = h.hj.q || []).push(arguments)
                        };
                h._hjSettings = {hjid: 86915, hjsv: 5};
                a = o.getElementsByTagName('head')[0];
                r = o.createElement('script');
                r.async = 1;
                r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
                a.appendChild(r);
            })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
        meta(http-equiv='Content-Type', content='text/html', charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='HandheldFriendly', content='True')
        meta(name='MobileOptimized', content='320')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title T Riahi
        link(rel='stylesheet', type='text/css', href='style.css')
    body.home-template
        header#site-head
            a#logo(href='/') tarek riahi
            nav
                a(href='#') My Projects
                a(href='http://mythoughts.riahi.se') My Thoughts
                a(href='http://resume.riahi.se') My Resume
                a(href='http://riahi.se') Me
                a(href='http://private.riahi.se') Private
            #title
                h1 Developer Tester Gamer Tech/Movie Geek
        #content.container(role='main')
            article.post
                p
                    | I was a student at the
                    a(href='http://www.kth.se/') Royal Institute of Technology
                    |  undertook an exam in
                    a(href='https://www.kth.se/utbildning/kandidatutbildning/information-and-communication-technology-180-credits/utbildningsbeskrivning-1.3688') Bachelor of Science (BSc), Computer Engineering.
                p
                    | When I'm not working, I spend most of my time
                    | with my family, girlfriend and dog.
                p
                    | If you want to get in contact, feel free to send me an
                    a(href='mailto:tarek@riahi.se') email
                    |  - here's
                    a(href='http://gpg.riahi.se') my GPG public key
                    | .
        footer
            ul#social-links
                a(href='https://twitter.com/RiahiTarek') Twitter
                a(href='https://github.com/TarekRiahi') GitHub
                a(href='https://www.facebook.com/triahi') Facebook
                a(href='https://open.spotify.com/user/tarek.riahi') Spotify
                a(href='https://se.linkedin.com/in/tarekriahi') Linkedin
            span#rights
                a(href='https://github.com/TarekRiahi/Riahi.se', style='text-decoration: none; color: inherit;') Source available on GitHub.
